<section class="admin-dashboard">
  <h2>Admin Dashboard</h2>
  <h5>Categories: <span class="badge bg-light text-dark"><%=@categories.count %></span></h5>
  <h5>Products: <span class="badge bg-light text-dark"><%=@products.count %></span></h5> 
</section>
