<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About Us</h1>
        <p class="lead text-muted mb-0">Welcome to the Jungle!</p>
        <p class="lead text-muted mb-0">Jungle is a hidden gem. With over 4 acres of farmland and a greenhouse full of tropical houseplants, we continue to operate Toronto’s last farm. We are family owned and operated Garden Centre.

        What started out as a hobby, soon turned into our business. We are a Nursery that grows and sells a wide variety of plants for both indoor and outdoor application. Quality is of utmost priority to us, and our products reflect that.
        
        We are firm believers in one-on-one service. Our friendly and expert staff will take the time to help you find the right products to fit your needs, advise on plant care and maintenance, and more!</p>
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://www.foodnavigator.com/var/wrbm_gb_food_pharma/storage/images/_aliases/wrbm_large/publications/food-beverage-nutrition/foodnavigator.com/news/market-trends/are-vertical-farms-even-remotely-efficient-putting-a-figure-on-plant-factories/9456865-1-eng-GB/Are-vertical-farms-even-remotely-efficient-Putting-a-figure-on-plant-factories.jpg" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Jeyna Kim</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Samuel Hardy</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Tom Sunderland</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">John Tarly</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
        </div>
      </div>
      <!-- End-->
    </div>
  </div>
</div>
